<div class="row">

 <div class="col-md-4 col-md-offset-4">
     <h2 class="text-center text-muted mb-4">Log in </h2>

     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

     <div class="form-group">

       <%= f.email_field :email,
       autofocus: true, 
       autocomplete: "email",
       class: 'form-control',
       placeholder: 'Email' %>
   </div>


    <div class="form-group">
       <%= f.password_field :password,
       autofocus: true,
       autocomplete:"password",
       class:"form-control",
        placeholder:"Password"
        %>
    </div>
      <br />

      
      <div class="form-group">
      <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> Remember Me
      <% end %>
      <span class="float-right">
          <%= link_to "Forgot Password?", new_user_password_path %>
      </span>
</div>
          <div class="form-group">
            <%= f.submit "Log in", class: 'btn btn-normal btn-block' %>
        </div>
    <% end %>
</div>
</div>

